* { margin: 0; padding: 0; box-sizing: border-box; user-select: none;}
body { font-family: 'Poppins', sans-serif; background: #121212; color: #fff; line-height: 1.6; }
.container { width: 90%; max-width: 1200px; margin: 0 auto; }
.header { background: #1e1e1e; padding: 1rem 0; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.header .logo { font-size: 2.5rem; font-weight: bold; color: #f04e31; }
.nav-links { list-style: none; display: flex; justify-content: space-around; width: 100%; height: 50px; align-items: center; padding: 0; margin: 0; }
.nav-links li { position: relative; display: flex; justify-content: center; align-items: center; height: 100%; margin: 0; padding: 0; border-radius: 5px; transition: background-color 0.3s, transform 0.3s; border: 2px solid transparent; }
.nav-links li a { color: #fff; text-decoration: none; display: inline-block; font-size: 1.4rem; line-height: 40px; }
.nav-links li:hover a { color: #f04e31; }
.aide { padding: 4rem 0; background: #1e1e1e; text-align: center; }
.aide h2 { font-size: 3rem; color: #f04e31; margin-bottom: 2rem; }
.aide-cards { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 2rem; }
.aide-card {background: #2a2a2a;padding: 2rem;width: 30%;border-radius: 10px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);transition: transform 0.3s, box-shadow 0.3s;cursor: pointer;height: 150px;display: flex;justify-content: center;align-items: center;}
.aide-card:hover { transform: scale(1.05); box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); }
.aide-card h4 { font-size: 1.8rem; color: #f04e31; }
.hero { background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat center center/cover; color: #fff; text-align: center; padding: 10rem 0; }
.hero-content { position: relative; z-index: 2; }
.hero h2 { font-size: 4rem; font-weight: 700; margin-bottom: 1rem; }
.hero p { font-size: 1.5rem; margin-bottom: 2rem; }
.btn-primary { display: inline-block; background: #f04e31; color: #fff; padding: 1rem 2rem; font-size: 1.2rem; text-decoration: none; border-radius: 5px; transition: background 0.3s, transform 0.3s; }
.btn-primary:hover { background: #c03e29; transform: translateY(-5px); }
.games { padding: 3rem 0; text-align: center; }
.games h2 { margin-bottom: 2rem; font-size: 2.5rem; color: #f04e31; }
.games-wrapper { background: #1e1e1e; padding: 1.5rem; border-radius: 15px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); width: 100%; max-width: 1500px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: center; }
.games-grid { display: grid; grid-template-columns: repeat(5, 1fr); gap: 1rem; justify-items: center; justify-content: center; width: 100%; }
.game-card { width: 100%; max-heigh: 100%; position: relative; border-radius: 10px; overflow: visible; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }
.game-icon { position: absolute; bottom: 10px; right: 10px; width: 30px; height: auto; }
.game-image { aspect-ratio: 18 / 9; border-radius: 10px; background-size: cover; background-position: center; transition: transform 0.3s, box-shadow 0.3s; width: 100%; object-fit: cover; position: relative; }
.game-image:hover { transform: scale(1.05); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); }
.game-name { position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(0, 0, 0, 0.7); color: white; text-align: center; padding: 0.3rem; font-size: 1rem; font-weight: bold; opacity: 0; transition: opacity 0.3s; border-radius: 0 0 10px 10px; line-height: 1.2; margin: 0; z-index: 2;}
.game-card:hover .game-name { opacity: 1; }
.features { background: #1e1e1e; padding: 4rem 0; text-align: center; color: #f04e31; }
.features h3 { font-size: 3rem; margin-bottom: 1rem; }
.features-cards { display: flex; justify-content: space-around; gap: 2rem; }
.feature-card { background: #2a2a2a; padding: 2rem; border-radius: 10px; width: 30%; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); transition: transform 0.3s, box-shadow 0.3s; }
.feature-card:hover { transform: scale(1.05); box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); }
.feature-card h4 { margin-bottom: 1rem; font-size: 1.8rem; }
.feature-card p { font-size: 1rem; }
li { font-size: 20px; }
.search-form { display: flex; justify-content: center; margin-top: 1rem; width: 100%; padding: 0 1rem; }
.search-form input { padding: 0.8rem; border-radius: 5px; border: 1px solid #ccc; font-size: 1rem; width: 100%; max-width: 400px; margin-right: 1rem; background-color: #2a2a2a; color: #fff; }
.search-form button { padding: 0.8rem 1.2rem; background-color: #f04e31; color: #fff; border: none; border-radius: 5px; cursor: pointer; font-size: 1rem; display: none; }
.search-form input:focus { border-color: #f04e31; outline: none; background-color: #333; }
#error-message { color: red; font-size: 1rem; margin-top: 1rem; font-weight: bold; }
::-webkit-scrollbar { width: 0px; }
h2 {font-size: 2.5rem;color: #f04e31;margin: 2rem 0;text-align: center;}
.faq {background: #1e1e1e;padding: 2rem;border-radius: 10px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);max-width: 800px;margin: 2rem auto;}
.faq-item {margin-bottom: 1rem;border-bottom: 1px solid #2a2a2a;}
.faq-question {font-size: 1.5rem;color: #f04e31;cursor: pointer;padding: 1rem 0;transition: color 0.3s;}
.faq-question:hover {color: #c03e29;}
.faq-answer {display: none;font-size: 1rem;color: #fff;padding: 0.5rem 0;}
.btn-jeux{position:absolute;top:1rem;right:1rem;padding:0.8rem 1.5rem;background-color: #f04e31;color:#fff;border:none;border-radius:5px;font-size:1.2rem;cursor:pointer;transition:background 0.3s,transform 0.3s;text-decoration:none;text-align:center;} 
.btn-jeux:hover{background-color:#0056b3;transform:translateY(-5px);} 

/* Don */
.animated-link {font-size: 20px;font-weight: bold;text-decoration: none;color: black;display: inline-block;}
.animated-link span {display: inline-block;opacity: 0;animation: colorChange 3s infinite;}
.animated-link span:nth-child(1) {animation-delay: 0s;}
.animated-link span:nth-child(2) {animation-delay: 0.1s;}
.animated-link span:nth-child(3) {animation-delay: 0.2s;}
.animated-link span:nth-child(4) {animation-delay: 0.3s;}
.animated-link span:nth-child(5) {animation-delay: 0.4s;}
.animated-link span:nth-child(6) {animation-delay: 0.5s;}
.animated-link span:nth-child(7) {animation-delay: 0.6s;}
.animated-link span:nth-child(8) {animation-delay: 0.7s;}
.animated-link span:nth-child(9) {animation-delay: 0.8s;}
.animated-link span:nth-child(10) {animation-delay: 0.9s;}
.animated-link span:nth-child(11) {animation-delay: 1s;}
.animated-link span:nth-child(12) {animation-delay: 1.1s;}

@keyframes colorChange {
0% {opacity: 1;color: #FF4C4C;}
20% {opacity: 1;color: #FF6F61;}
40% {opacity: 1;color: #FFD700;}
60% {opacity: 1;color: #32CD32;}
80% {opacity: 1;color: #1E90FF;}
100% {opacity: 1;color: #FF1493;}}
